Dockerfile
build
dist
node_modules
.cache
.github
.devcontainer
.husky
CHANGELOG*
README.md
/.vscode
.git
.env
/.tmp
/.idea
/coverage
/public/cache/*
/public/rss/*
/public/csv/*
/public/sitemap/*
/public/uploads/*
/k8s